@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

