.forgot-pasword#forgotPassModal
    .forgot-pasword__content 
        .tabs-forgot#tabsForgot 
            ul.tabs-forgot__list 
                li.tabs-forgot__item.tabs-forgot__item--active(data-tabs="first") Sign in
                li.tabs-forgot__item(data-tabs="second") New Account
            .tabs-forgot__wrap 
                .tabs-forgot__element.tabs-forgot__element--active#first
                    .tabs__element-content
                        .tabs__element-content-title 
                            h3 Lost your password? Please enter your email address. You will recieve a link to create a new password.
                        form.tabs__element-form#forgotForm
                            .tabs__element-input 
                                input(type="mail" placeholder="Email" name="forgotEmail")
                            .errors
                                #forgotEmailError      
                            .tabs__element-button 
                                button(type="submit").button Reset Password   
                    .tabs__element-forgot-pass#backToLogin
                        a(href="#") Back to log-in  
                .tabs-forgot__element#second
                    .tabs__element-content
                            form.tabs__element-form#forgotFormSecond
                                .tabs__element-input 
                                    input(type="text" placeholder="Username" name="userSecondForgot")
                                .tabs__element-input 
                                    input(type="mail" placeholder="Email" name="emailSecondForgot")
                                .tabs__element-input.tabs__element-input-relative 
                                    input(type="password" placeholder="Password" name="passwordSecondForgot")
                                .tabs__element-input-checkbox
                                    label.tabs__element-label
                                        .tabs__element-wrapper
                                            input(type="checkbox" name="checkboxSecondForgot")
                                            .tabs__element-text
                                                h3 I agreen to the #[a(href="#") Terms]
                                .errors
                                    #userErrorForgot
                                    #emailSecondErrorForgot 
                                    #passwordSecondErrorForgot 
                                    #checkboxSecondErrorForgot      
                                .tabs__element-button 
                                    button(type="submit").button Create Account

                
